node_modules/
target/

/build/
/game/

dependencies/tauri/src-tauri/gen/
dependencies/tauri/src-tauri/icons/

/project/.ffmpeg/
project/Geomangle.json.autosave
project/Geomangle.json.prepatch

/cloudflare/
deploy.bat
/packaged/
dependencies/gdexporter/packaged/

.DS_Store
Thumbs.db
desktop.ini
*.log